#Soroban Stellar contract
# Rust's output directory
/contract/get_set_helloworld/target

# Local settings
/contract/get_set_helloworld/.soroban
/contract/get_set_helloworld/.stellar

#NextJS
# dependencies
/web/get_set/node_modules
/web/get_set/.pnp
/web/get_set.pnp.*
/web/get_set.yarn/*
/web/get_set!.yarn/patches
/web/get_set!.yarn/plugins
/web/get_set!.yarn/releases
/web/get_set!.yarn/versions

# testing
/web/get_set/coverage

# next.js
/web/get_set/.next/
/web/get_set/out/

# production
/web/get_set/build

# misc
/web/get_set.DS_Store
/web/get_set*.pem

# debug
/web/get_setnpm-debug.log*
/web/get_setyarn-debug.log*
/web/get_setyarn-error.log*
/web/get_set.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/web/get_set.env*

# vercel
/web/get_set.vercel

# typescript
/web/get_set/*.tsbuildinfo
/web/get_set/next-env.d.ts

# Examples
/examples-SDK/rust/target/*
/examples-SDK/ecmascript/node_modules/*
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
